@use 'styles/common';

// This export is just to demonstrate how to share CSS vars with JS,
// which I considered for a moment
:export {
  lightgray: common.$light-gray;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: black;
  color: white;
  height: 100vh;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow-x: hidden;
  padding-bottom: 10px;

  &:nth-child(2n) {
    margin-left: 10px;
  }

  @media (min-width: 768px) {
    &:nth-child(4n + 1) {
      margin-left: 10px;
    }
  }
}
