@use 'styles/common';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  background-color: common.$mid-blue;
  box-shadow: 0px 12px 24px common.$light-gray;
  border-radius: 10px;
  color: common.$ice;

  height: 48vh;
  width: 75vw;

  @media (min-width: 768px) {
    height: 42vh;
    width: 50vw;
    max-width: 524px;
  }
}

.closeButton {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
}

.closeIcon {
  width: 36px;
  height: 36px;
  fill: common.$ice;
}

.titleContainer {
  text-align: center;
  margin: 20px 0;
}

.formTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.columnTitle {
  right: 15px;
  top: 12px;
  color: common.$blue;
  font-weight: bold;
}

.formGroup {
  @extend .flexCenter;
  flex-direction: column;
  margin-top: 10px;
}

.label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.textInput {
  all: unset;
  background-color: common.$dark-blue;

  text-align: center;
  border-radius: 3px;
  padding: 6px 4px;
  outline: none;

  font-weight: 600;
  font-size: 1.1rem;
  color: common.$ice;
}

.inputError {
  margin: 2px 0 4px;
  height: 30px;
  color: red;
  font-size: 0.84rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  height: 90px;
}

.submitButton {
  all: unset;

  text-align: center;
  width: 150px;
  height: 40px;
  margin-bottom: 27px;
  border: 1px solid common.$dark-blue;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  user-select: none;
  cursor: pointer;

  background-color: common.$dark-blue;

  &:hover {
    border-color: lighten(common.$dark-blue, 10%);
    box-shadow: 0px 2px 4px common.$light-gray;
  }

  &:active {
    transform: translateX(1px) translateY(2px);
  }

  &:focus {
    border-color: lighten(common.$dark-blue, 20%);
  }
}

.apiError {
  color: red;
  font-weight: bold;
  font-size: 0.96rem;
}

.apiSuccess {
  color: common.$blue;
  font-weight: bold;
  font-size: 0.96rem;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
