@use 'styles/common';

.column {
  position: relative;
  background-color: common.$dark-blue;
  border: 1px solid lighten(common.$dark-blue, 2%);

  border-radius: 6px;
  padding: 3px 5px 45px;

  margin: 10px 10px 0 0;
  width: calc(50% - 10px);
  min-width: 100px;
  min-height: 210px;

  @media (min-width: 768px) {
    min-width: 120px;
    width: calc(25% - 10px);
  }
}

.title {
  width: 100%;
  text-align: center;
  color: common.$ice;
  font-size: 1.2rem;
  margin: 5px 0 8px;
  cursor: pointer;
  user-select: none;
}

.addCardButton {
  position: absolute;
  top: 7px;
  right: 7px;
}
