$light-black: #1B1919; // #1c1c1c;
$dark-blue: #0D171F;
$mid-blue: #262E3B;
$light-gray: #3D4D55;
$blue: #448a8c;
$ice: #E9ECD6; // #f7f3e1;

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.onHover {
  border-color: darken($blue, 20%);
}

.clearButton {
  all: unset;
  cursor: pointer;
}
