@use 'styles/common';

.card {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  min-height: 3rem;
  margin-bottom: 5px;
  position: relative;

  background-color: common.$mid-blue;
  border: 1px solid lighten(common.$dark-blue, 5%);
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    border-color: darken(common.$blue, 20%);
  }
}

.dragging {
  opacity: 0;
}

.description {
  font-size: 0.9rem;
}

.editButton {
  all: unset;
  position: absolute;
  right: 5px;
  top: 0;

  cursor: pointer;
}

.editIcon {
  fill: common.$blue;
  width: 18px;
}
