@import 'styles/common';

.background {
  @extend .flexCenter;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(5px);
  z-index: 1000;
}
