@use 'styles/common';

.addButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center; 

  &:active {
    transform: translateX(1px) translateY(2px);
  }
}

.addIcon {
  fill: common.$blue;
}
