@use 'styles/common';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  background-color: lighten(black, 9);
  height: 6vh;
  min-height: 42px;
}

.title {
  color: common.$blue;
  font-weight: bold;
}
