.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: lighten(black, 7);
  height: 6vh;
  min-height: 42px;

  font-size: 13px;
}

.linkElement {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 10px;
}
