@use 'styles/common';

.container {
  position: relative;
  max-width: 400px;
}

.inputClass {
  background-color: common.$mid-blue;
  border-radius: 4px;
  padding: 2px 7px;
  font-size: 0.85rem;
  line-height: 0.85rem;
}

.closeButton {
  all: unset;
  position: absolute;
  right: 2px;
  top: calc(50% - 10.5px);
  height: 21px;
  cursor: pointer;
}

.closeIcon {
  height: 21px;
  width: 21px;
  fill: common.$blue;
}
